@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Everlane.Models.Translator

<h1>Everlane</h1>

<form class="translate">
    <label>Translate to: </label>
    <select id="languageInput">
        <option value="de">German</option>
    </select>
    <label>Content: </label>
    <textarea id="textInput"></textarea>
    <button type="submit">Translate</button>
</form>

@*@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Language)
    @Html.TextBoxFor(model => model.Language)
    @Html.LabelFor(model => model.Translation)
    @Html.TextBoxFor(model => model.Translation)
    <input type="submit" class="translate" value="Translate!" />
}*@

<div class="translate-results">

</div>

<p><a href="http://translate.yandex.com/">Powered by Yandex.Translate.</a></p>
